<div class="textcard">
    <h2 class="u-align-center u-text u-text-1">Testing de Entregable</h2>
</div>
<div class="row">
    {{#each valueReturned }}
    <div class="col-md-4">
        <div class="card mb-4">
            <img src='/assets/img/{{this.thumbnail}}' class="card-img-top" alt="Imagen del producto">
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text mostrar">{{this.price}} USD</p>
                <p class="card-text">Stock disponible: {{this.stock}}</p>
                <p class="card-envio">Envío Gratis</p>

            </div>
        </div>
    </div>
    {{/each}}

</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@12"></script>
<script src="/socket.io/socket.io.js"></script>
