<a href="/products" class="btn btn-primary m-4">Products</a>
<h1>Detalle de usuario</h1><p></p>
<h3>Nombre y apellido:</h3><h6>{{user.name}}</h6>
<h3>Mail:</h3><h6>{{user.email}}</h6>
<h3>Rol: </h3><h6>{{user.role}}</h6>


